In [3]:
import yfinance as yf
import pandas as pd

In [4]:
# Y-m-d
start = '2013-01-01'
end = '2023-09-01'

In [3]:
stock = yf.download('VALE', 
                   start=start, 
                   end=end)

[*********************100%***********************]  1 of 1 completed

In [4]:
stock.to_csv('data/data.csv')

In [16]:
# Y-m-d
start = '2023-08-15'
end = '2023-10-13'

In [17]:
stock = yf.download('VALE', 
                   start=start,
                   interval='15m', 
                   end=end)

[*********************100%***********************]  1 of 1 completed

1 Failed download:
- VALE: 15m data not available for startTime=1692072000 and endTime=1697169600. The requested range must be within the last 60 days.

In [9]:
stock

                 Open       High        Low      Close  Adj Close    Volume
Date
2023-01-03  16.650000  16.719999  16.299999  16.350000  15.502455  25585700
2023-01-04  16.230000  16.549999  16.049999  16.549999  15.692086  34623700
2023-01-05  16.580000  17.100000  16.549999  17.090000  16.204094  28418500
2023-01-06  17.389999  17.680000  17.190001  17.660000  16.744545  31231000
2023-01-09  17.459999  17.639999  17.320000  17.520000  16.611805  22693900
...               ...        ...        ...        ...        ...       ...
2023-08-25  12.770000  12.830000  12.650000  12.740000  12.740000  13184800
2023-08-28  12.810000  12.950000  12.760000  12.920000  12.920000   9681400
2023-08-29  12.990000  13.380000  12.930000  13.330000  13.330000  21719400
2023-08-30  13.430000  13.460000  13.250000  13.330000  13.330000  10979000
2023-08-31  13.360000  13.420000  13.150000  13.170000  13.170000  15771800

[167 rows x 6 columns]

In [22]:
symbol = 'AAPL'

start_date = '2023-09-01'
end_date = '2023-10-31'

ticker = yf.Ticker(symbol)

data = ticker.history(start=start_date, end=end_date, interval="15m")

data

                                 Open        High         Low       Close  \
Datetime
2023-09-01 09:30:00-04:00  189.485001  189.919998  188.335007  188.979004
2023-09-01 09:45:00-04:00  188.979996  188.979996  188.279999  188.940002
2023-09-01 10:00:00-04:00  188.919998  189.490005  188.399994  189.240005
2023-09-01 10:15:00-04:00  189.240005  189.410004  188.940002  189.279999
2023-09-01 10:30:00-04:00  189.270004  189.279999  188.820007  189.100006
...                               ...         ...         ...         ...
2023-10-13 14:45:00-04:00  179.104996  179.404999  178.968796  179.339905
2023-10-13 15:00:00-04:00  179.330002  179.740005  179.089996  179.468903
2023-10-13 15:15:00-04:00  179.460007  179.470001  178.850006  178.934998
2023-10-13 15:30:00-04:00  178.940002  179.059998  178.520004  178.610001
2023-10-13 15:45:00-04:00  178.610001  179.089996  178.589996  178.869995

                            Volume  Dividends  Stock Splits
Datetime
2023-09-01 09:30:00-04:00  5046070        0.0           0.0
2023-09-01 09:45:00-04:00  2681980        0.0           0.0
2023-09-01 10:00:00-04:00  2559828        0.0           0.0
2023-09-01 10:15:00-04:00  1954224        0.0           0.0
2023-09-01 10:30:00-04:00  1496877        0.0           0.0
...                            ...        ...           ...
2023-10-13 14:45:00-04:00  1309908        0.0           0.0
2023-10-13 15:00:00-04:00  1417715        0.0           0.0
2023-10-13 15:15:00-04:00  1493039        0.0           0.0
2023-10-13 15:30:00-04:00  1687781        0.0           0.0
2023-10-13 15:45:00-04:00  4047663        0.0           0.0

[780 rows x 7 columns]

In [24]:
data.to_csv('data/data_m15.csv')